$background-darkgrey : darkgrey;
$background-yellow : yellow;

@mixin padding($top,$right,$bottom,$left) {
    padding: $top, $right, $bottom, $left;
}

.jumbotron {
    background-color: $background-darkgrey;
}

.card-product {
    flex-direction: column;
    justify-content: space-between;
    flex: 1 150px;
    @include padding(0px, 20px, 0px, 0px);
}

.boton-rentar {
    width: 100%;
}

footer {
    background-color: $background-yellow;
    margin: 30px 0 0 0;
}

.footer-col1 {
    @include padding(30px, 30px, 30px, 30px);
    text-align: start;
}
.footer-col2 {
    @include padding(30px, 30px, 30px, 30px);
    text-align: center;
    flex-direction: column;
}
.footer-col3 {
    @include padding(30px, 30px, 30px, 30px);
    text-align: end; 
    
}

img {
    width: 100px;
    height: 100px;
}

.img-header {
    width: 100%;
    margin: 0 0 20px 0px;
}